.header {
  display: flex;
  flex-direction: row;
  margin: auto;
  background-color: lightblue;
  text-align: center;
  padding: 0.3em;
}

.headerMiddle {
  float: middle;
  margin: inherit;
  flex: auto;
}

.headerLeft {
  text-align: left;
  margin: inherit;
  flex: auto;
}

.headerRight {
  text-align: right;
  margin: inherit;
  flex: auto;
}