.loginContainer {
}

.loginForm {
    width: auto;
    max-width: fit-content;
}

.errorContainer {
    height: 3em;
    width: auto;
    margin: 1em;
    display: flex; /* Just for centering */
    align-items: center;
}

.errorBar {
    height: 100%;
    background: rgb(200, 0, 0);
    border-radius: 10px;
    flex: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errorBar > p {
    color: white;
    font-size: 1.5em;
    text-shadow: 1px;
    /*padding: 5px 5px;*/
    text-align: center;
}